 #map {
        height: 400px;
        width: 100%;
       }

h3 {
	color: blue;
	font-size : 30px;
}

.background {
    position: fixed;
    height: 50%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: 50%;
    transition: height .4s, opacity .4s;
    z-index: -1;
}