 #map {
        height: 400px;
        width: 100%;
       }

h3 {
  font-family: 'Spicy Rice', cursive;
  color: blue;
  font-size : 30px;
}


.background {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    transition: height .4s, opacity .4s;
    z-index: -1;
}

.searchbar {
  margin: 100px auto;
  width: 1000px;
  height: 52px;
/*  border: 1px solid grey;*/
  float: center;
}

.searchbar input#submit-button{
  width: 204px;
  height: 50px;
  background: #0084b4;
  border: none;
  font-size: 10pt;
  float: left;
  color: Black;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;
}

.searchbar input#text{
  width: 750px;
  height: 50px;
  background: #c0deed;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

nav a {
   font-family: 'McLaren', cursive;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-size:30px;
    }
  p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:30px;
    text-align: center;
}

.container-fluid {
  width:auto;
}
