<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="../static/css/design.css">
  
    <script type="text/javascript">
            var test = {{ test|tojson }}
        </script>
  </head>
  <body>
    <h3><center>Twitter Mapper</h3></center>
    <div id="contact-form">
<form method="post" action="/signup">
<label for="search">Search Term</label>
<input type="search" id="search" name="search" required="required">
<input type="submit" value="Submit" id="submit-button">

</form>
</div>
    <div id="map"></div>
    <script src=../static/js/map.js></script>
    <script type="text/javascript" {{ url_for('static', filename='map.js')}}></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWHa08d2mnUo9qJSWWXbZ5kzDGVueIYxE&callback=initMap">
    </script>
  </body>
</html>