<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="../static/css/design.css">
  <link href="https://fonts.googleapis.com/css?family=Spicy+Rice|McLaren" rel="stylesheet">
  <!-- Bootstrap -->
  <!-- Bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
            var test = {{ test|tojson }}
        </script>
  </head>


  <body>
  <!--NavBar-->
<!-- Navbar -->
     <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll page-top-font" href="index.html">The Twitter Mapper</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" >

                        <li><a href="/about">About</a></li>
                         <li><a href="/">Home</a></li>

                    </ul>

            </div>
        </nav>
 </div>
</div>
    <div id="map"></div>
    <script src=../static/js/map.js></script>
    <script type="text/javascript" {{ url_for('static', filename='map.js')}}></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWHa08d2mnUo9qJSWWXbZ5kzDGVueIYxE&callback=initMap">
    </script>
<footer>
  <p> &copy Niamh, Alina, Jenny</p>
</footer>
  </body>
</html>
