<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/design.css">
<link href="https://fonts.googleapis.com/css?family=Spicy+Rice|McLaren" rel="stylesheet">

<!-- Bootstrap -->
  <!-- Bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<!--NavBar-->
<!-- Navbar -->
     <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll page-top-font" href="/">The Twitter Mapper</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" >

                        <li><a href="/">About</a></li>
                         <li><a href="/">Home</a></li>

                    </ul>

            </div>
        </nav>
 </div>


<div class="background"></div>
<title>LDN | What's trending where</title>
<h3><center>What hashtag would you like to look up?</h3></center>

<div class="searchbar">
<div id="contact-form">
<form method="post" action="/map">
<input type="text" id="text" name="text" placeholder="Search..e.g Sunday, coffee, Brexit" required="required">
<input type="submit" value="Submit" id="submit-button">
</div>

</form>
</div>
</body>
</html>
